## Spain Electricity Machine Learning

#### 1. Importing important data viz. and number manipulation libraries

In [2]:
#number manipulation
import numpy as np
import pandas as pd
#data viz
import matplotlib.pyplot as plt

#### 2. Loading the data

we should loading the data into a github repo so that we can all access it

In [4]:
#loading the train dataset and assigning it into the df variable
df = pd.read_csv("./df_train.csv")
#show first 5 rows of the df
df.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

#### 3. Investigating the data

In [9]:
df.columns

Index(['Unnamed: 0', 'time', 'Madrid_wind_speed', 'Valencia_wind_deg',
       'Bilbao_rain_1h', 'Valencia_wind_speed', 'Seville_humidity',
       'Madrid_humidity', 'Bilbao_clouds_all', 'Bilbao_wind_speed',
       'Seville_clouds_all', 'Bilbao_wind_deg', 'Barcelona_wind_speed',
       'Barcelona_wind_deg', 'Madrid_clouds_all', 'Seville_wind_speed',
       'Barcelona_rain_1h', 'Seville_pressure', 'Seville_rain_1h',
       'Bilbao_snow_3h', 'Barcelona_pressure', 'Seville_rain_3h',
       'Madrid_rain_1h', 'Barcelona_rain_3h', 'Valencia_snow_3h',
       'Madrid_weather_id', 'Barcelona_weather_id', 'Bilbao_pressure',
       'Seville_weather_id', 'Valencia_pressure', 'Seville_temp_max',
       'Madrid_pressure', 'Valencia_temp_max', 'Valencia_temp',
       'Bilbao_weather_id', 'Seville_temp', 'Valencia_humidity',
       'Valencia_temp_min', 'Barcelona_temp_max', 'Madrid_temp_max',
       'Barcelona_temp', 'Bilbao_temp_min', 'Bilbao_temp',
       'Barcelona_temp_min', 'Bilbao_temp_max', 'Seville_temp_min',
       'Madrid_temp', 'Madrid_temp_min', 'load_shortfall_3h'],
      dtype='object')

#### 4. GROUP BY cities

#### 4.1 Seville

*creating a seville subset*

In [13]:
seville_df = df[['time','Seville_humidity',
                 'Seville_clouds_all', 'Seville_wind_speed',
                'Seville_pressure', 'Seville_rain_1h',
                 'Seville_rain_3h','Seville_weather_id',
                 'Seville_temp_max','Seville_temp',
                 'Valencia_humidity', 'Seville_temp_min',
                 'load_shortfall_3h']]
seville_df.head()

,time,Seville_humidity,Seville_clouds_all,Seville_wind_speed,Seville_pressure,Seville_rain_1h,Seville_rain_3h,Seville_weather_id,Seville_temp_max,Seville_temp,Valencia_humidity,Seville_temp_min,load_shortfall_3h
0,2015-01-01 03:00:00,74.333333,0.0,3.333333,sp25,0.0,0.0,800.0,274.254667,274.254667,75.666667,274.254667,6715.666667
1,2015-01-01 06:00:00,78.333333,0.0,3.333333,sp25,0.0,0.0,800.0,274.945000,274.945000,71.000000,274.945000,4171.666667
2,2015-01-01 09:00:00,71.333333,0.0,2.666667,sp25,0.0,0.0,800.0,278.792000,278.792000,65.666667,278.792000,4274.666667
3,2015-01-01 12:00:00,65.333333,0.0,4.000000,sp25,0.0,0.0,800.0,285.394000,285.394000,54.000000,285.394000,5075.666667
4,2015-01-01 15:00:00,59.000000,0.0,3.000000,sp25,0.0,0.0,800.0,285.513719,285.513719,58.333333,285.513719,6620.666667

In [22]:
seville_df['Seville_weather_id'].sample(100).head()

7825    800.0
30      800.0
520     800.0
8462    800.0
1040    800.0
Name: Seville_weather_id, dtype: float64

#### 4.2 Barcelona

#### 4.3 Madrid

#### 4.4 Bilbao

#### 4.5 Valencia